/*  globais */
/* ======================== */
/* header */
.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

header nav a {
    display: block;
    padding: 10px; 
    color: white;
    font-size: 1.125rem;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: .1s;
}


.header nav a:hover {
    background: rgba(0, 0, 0, .5);
}


.header-menu li + li {
    margin-left: 30px;
}

/* content */

.titulo {
    color: #b07dfb;
}

.titulo h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    font-size: 1.2rem;
    font-style: italic;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: -0.005rem;
    color: rgba(0, 0, 0, .7);
}

.informacoes p + p {
    margin-top: 30px;
}

.destaque {
    font-size: 1.2rem;
    color: #b07dfb;
    max-width: 16rem;
}

.citacao,
.atributos {
    align-self: start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, .15);
}

.citacao p {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}

.atributos li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding: 15px;

}

.atributos li + li {
    border-top: 2px solid #b07dfb;
}

/* caracteristicas */

.caracteristicas {
    display: flex;
    align-items: flex-start;
}

.caracteristicas > div {
    width: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    position: relative;
}

.caracteristicas span {
    display: block;
    color: #b07dfb;
}

.caracteristicas > div:first-child {
    margin-right: 30px;
}

.numero {
    color: #b07dfb;
    font-size: 3rem;
    line-height: 1;
    margin: 10px  auto;
}

.rotulo {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}



/* sidenav */

.sidenav li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin:  0 auto 30px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: .1s ease-out;
}

.sidenav li a:hover {
    background: #b07dfb;
}

/* footer */

.footer p {
    color: white;
    text-align: center;
    padding: 30px;
}